on:
  issue_comment:
    types:
      - created
jobs:
  check-readme:
    uses: "sclorg/ci-actions/.github/workflows/check-readme.yml@main"
  container-tests:
    needs: check-readme
    uses: "sclorg/ci-actions/.github/workflows/container-tests.yml@main"
    with:
      enabled-tests: '["container","container-pytest","openshift-pytest","container-fips"]'
      versions: '[ "2.5", "3.0", "3.3", "4.0" ]'
      openshift-versions: '[ "2.5", "3.0", "3.3", "4.0" ]'
    secrets: inherit
